#header {
  margin-left: 15px;
}
#header .selected_params {
  padding: 20px;
  min-width: 400px;
  max-width: 800px;
}
#network_left {
  width: 70%;
}
#network {
  width: 100%;
  height: 800px;
  border: 0px solid #444444;
  background-color: white;
}
#task_groups {
  width: 30%;
}
#nodes_groups .nodes_group ul li {
  cursor: pointer;
}
#nodes_groups .nodes_group ul li:hover {
  background-color: yellow;
}
#nodes_groups .nodes_group ul li.highlighted {
  background-color: yellow;
}
#task_groups_summary ul li {
  list-style-type: none;
  margin-left: 10px;
}

#task_detail table.table {
  table-layout: fixed;
}
#task_detail table.table td:first-child {
  width: 15%;
}

#task_detail table td .task-link {
  margin: 5px;
}
#task_detail table td .task-link a {
  color: white;
}
