include changelog.markdown
include README.markdown

include luiti/java/*.java

include luiti/webui/assets/*/**

include luiti/webui/*.html
include luiti/webui/bower_components/*/*
include luiti/webui/bower_components/*/*/*
include luiti/webui/bower_components/*/*/*/*
